@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.tasks-container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
    border-radius: 5px;
}

.task {
    background: #22302F;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.task.reminder {
    border-left: 5px solid red;
}

.task span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .add-form {
    margin-bottom: 40px;
  }

  .form-control {
    border: none !important;
    border-radius: 0 !important;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-control-check {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }
  .form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }