:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .navbar-nonbootstrap {
    display: flex;
    justify-content: space-between;
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    width: 100%;
  }

  .navbar-logo {
    color: white;
    padding-top: 10px;
    font-size: 24px;
  }
  
  .navbar-navigation {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .dropdown-menu-nonbootstrap {
    position: absolute;
    width: 200px;
    list-style: none;
    text-align: start;
    top: 59px;
    right: 9px;
    z-index: 1;
}

.dropdown-menu-nonbootstrap li {
    background-color: #22302F;
    cursor: pointer;
    color: #f9f8f3;
    padding: 12px 12px;
}

.dropdown-menu-nonbootstrap li:hover {
    background: #C58B13;
}
  
  .nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item a:hover {
    background-color: #C58B13;
  }

  .icon {
    --button-size: calc(60px * 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size);
    margin: 2px;
    padding: 5px;
    background-color: #2c3b23;
    border-radius: 50%;
}
  
  