.card {
    width: 250px;
    margin: 40px 60px 40px 60px;
    box-shadow: 13px 7px 6px rgba(0,0,0,.3);
    flex: 1 0 21%;
    transition: .5s;
    -webkit-transition: .5s;
  }
  
  .card-picture {
    width: 100%;
    height: auto;
  }
  
  .card-text {
    padding-top: 50px;
    margin-bottom: 20px;
  }
  
  .zoom {
    max-height: 225px;
    overflow: hidden;
  }
  
  .zoom:hover {
    max-height: 370px;
  }