.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url('../assets/CardsBackground.jpg');
  }

  .cards-container-on-tap {
    display: flex;
    justify-content: space-evenly;
  }

  .cards-gradient {
    height: 100px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,163,163,1) 100%);
    opacity: 0.5;
  }