.search {
    /* display: flex;
    flex-direction: column; */
}

.search-input-container {
  margin-top: 105px;
  display: flex;
  justify-content: center;
}

.search input {
  background-color: #22302f;
  color: white;
  border: 0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 60px;
  width: 300px;
}

input:focus {
  outline: none;
}

.search-icon {
  height: 60px;
  width: 50px;
  background-color: #22302f;
  display: grid;
  place-items: center;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-icon svg {
  font-size: 35px;
  fill: lightgray;
}

.returned-data {
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 auto;
}

.returned-data::-webkit-scrollbar {
  display: none;
}

.returned-data .data-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clear-btn {
  cursor: pointer;
}
