.weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-container p {
    margin: 0;
}

.location-input-container {
    margin-top: 32px;
}


.location-input-container input{
    background-color: #22302f;
    color: white;
    border: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 60px;
    width: 300px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.input-icon {
    height: 60px;
    width: 50px;
    background-color: #22302f;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.input-icon svg {
    font-size: 35px;
    fill: lightgray;
}

.location-input-container {
    display: flex;
    justify-content: center;
}

.weather-icon svg {
    font-size:  150px;
    fill: #6C7194;
}