.welcome-container {
    width: 100%;
    height: 100vh;
    background-size: cover; 
    /* background-image: url('../assets/WelcomeBackground.jpg'); */
  }

  .welcome-info-container {
    display: flex;
    justify-content: space-around;
  }


  .frosted-glass-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    flex: 0 0 40%;
    height: 80vh;
    margin-top: 6vh;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    overflow: hidden;
  }